.menu-item-settings {
  .wpifycf-field-instance:has(input[data-hide-field='true']) {
    display: none;
  }

  .wpifycf-instance {
    margin-bottom: var(--wpifycf-gap-2);
  }

  .wpifycf-field-instance:not(:last-child) {
    margin-bottom: var(--wpifycf-gap-2);
  }
}
