.woocommerce_page_wc-settings {
  .wpifycf-app  {
    margin-bottom: var(--wpifycf-gap-3);
  }
  .wpifycf-field-parent  {
    padding: var(--wpifycf-gap-2) 0;
    margin-bottom: var(--wpifycf-gap-2);
  }

  .wpifycf-field-parent:has(input[data-hide-field='true']) {
    display: none;
  }

  .wpifycf-field__label {
    width: 200px;
  }
}
