.wpifycf-gutenberg-block {
  .wpifycf-post-preview__thumbnail {
    height: 100px;
    width: 100px;
    max-width: unset;
  }

  .wpifycf-attachment-item__thumbnail img {
    width: 100%;
    height: 100%;
  }

  &__fields {
    border: 1px solid #c3c4c7;
    background: #fff;
    position: relative;
    top: -1px;
    padding: var(--wpifycf-gap-2);
    display: flex;
    flex-flow: column;
    gap: var(--wpifycf-gap-2);
    container-type: inline-size;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
  }

  &__ssr {
    a,
    button,
    input,
    select,
    textarea,
    [role="button"],
    [onclick],
    label,
    summary {
      pointer-events: none;
    }

    .block-editor-inner-blocks > *,
    .block-editor-block-list__layout > *,
    .block-list-appender * {
      pointer-events: auto;
    }
  }
}

.components-panel__row {
  .wpifycf-field__label {
    max-width: 100%;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: calc(8px);
    padding: 0;
  }

  .wpifycf-field__wrapper {
    width: 100%;
  }
}
