.woocommerce_options_panel {
  .wpifycf-field-integration label {
    margin-left: unset;
    float: unset;
  }

  input[type=email], input[type=number], input[type=password], input[type=text] {
    width: 95%;
    float: none;
  }

  .wpifycf-field-integration,
  .wpifycf-instance {
    padding: 0 12px;
  }
}
