.wpifycf-field-multi-post {
  display: flex;
  flex-flow: column;
  gap: var(--wpifycf-gap-1);

  &__items {
    display: flex;
    flex-flow: row wrap;
    gap: var(--wpifycf-gap-1);
    user-select: none;
  }

  .wpifycf-post-preview {
    cursor: move;
  }
}
