.wpifycf-field-attachment {
  &__button {
    display: block;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
  }
}

.wpifycf-field-multi-attachment {
  &__items {
    display: flex;
    flex-flow: row wrap;
    gap: var(--wpifycf-gap-2);

    .wpifycf-attachment-item {
      cursor: move;
    }
  }

  &__button {
    display: block;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
  }

  .wpifycf-button__add {
    margin-bottom: var(--wpifycf-gap-2);
  }
}

.wpifycf-attachment-item {
  width: 150px;
  height: 150px;
  position: relative;
  background: black;

  &--has-icon {
    background: white;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &__icon {
    width: 150px;
    height: 125px;
    display: grid;
    place-items: center;
    border: 1px solid var(--wpifycf-border-color);
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--wpifycf-border-color);
    border-top: 0;
    height: 25px;
    display: grid;
    place-items: center;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
    padding: var(--wpifycf-gap-2);
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(255, 255, 255, 0.25);
  }

  &:hover &__actions {
    opacity: 1;
  }

  &__info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
