.wpifycf-field {
  &--invalid {
    outline: 1px solid red;
  }

  &--invalid:not(input) {
    padding: var(--wpifycf-gap-1);
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: var(--wpifycf-gap-1) var(--wpifycf-gap-2);
  }

  &__description {
    display: block;
    width: 100%;
  }

  &__description--before {
    margin-bottom: var(--wpifycf-gap-1);
  }

  &__description--after {
    margin-top: var(--wpifycf-gap-1);
  }

  &__label {
    width: 150px;
    font-weight: 500;
  }

  &__label--invalid {
    color: red;
  }

  &__required {
    display: inline-block;
    margin-left: var(--wpifycf-gap-1);
    color: red;
  }

  &__error {
    display: block;
    color: red;
    padding-left: var(--wpifycf-gap-1);
    padding-right: var(--wpifycf-gap-1);
    font-size: 0.9em;
    font-weight: 500;
  }

  .sortable-ghost {
    background: rgba(0, 0, 0, 0.05);
    border: 1px dashed var(--wpifycf-border-color);

    * {
      opacity: 0;
    }
  }

  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
  }

  input[type="number"] {
    display: block;
    width: 150px;
  }
}
