.wpifycf-field-columns {
  display: grid;
  grid-template-columns: var(--wpifycf-columns-template, repeat(var(--wpifycf-columns, 2), minmax(0, 1fr)));
  gap: var(--wpifycf-columns-gap, var(--wpifycf-gap-4));
  width: 100%;
  align-items: start;
}

.wpifycf-field-columns__item {
  min-width: 0;
  container-type: inline-size;

  &:has(> input[data-hide-field="true"]:only-child),
  &:empty {
    display: none;
  }
}
