.wpifycf-field-direct-file {
	display: flex;
	flex-direction: column;
	gap: var(--wpifycf-gap-3);

	.wpifycf-direct-file__empty {
		display: flex;
		align-items: center;
	}

	.wpifycf-direct-file__preview {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		border-radius: var(--wpifycf-border-radius-md);

		.wpifycf-direct-file__actions {
			display: flex;
			gap: var(--wpifycf-gap-2);
			flex-shrink: 0;
            align-self: flex-start;
		}
	}
}
