.wpifycf-field {
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: var(--wpifycf-gap-1) var(--wpifycf-gap-2);
  }

  &__description {
    display: block;
    width: 100%;
  }

  &__label {
    width: 150px;
    font-weight: 500;
  }

  &__field {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: var(--wpifycf-gap-1);
    max-width: 100%;
  }

  .sortable-ghost {
    background: rgba(0, 0, 0, 0.05);
    border: 1px dashed var(--wpifycf-border-color);

    * {
      opacity: 0;
    }
  }
}
