.wpifycf-field-wysiwyg {
  flex: 1;

  &__buttons {
    display: flex;
    flex-flow: row wrap;
    background: white;
    border: 1px solid var(--wpifycf-border-color);
    border-bottom: none;
  }

  &__editor {
    display:block;
    background: white;
    border: 1px solid var(--wpifycf-border-color);
    padding: var(--wpifycf-gap-1) var(--wpifycf-gap-2);
    max-height: 400px;
    overflow: auto;
  }

  &__bubble {
    background: white;
    padding: var(--wpifycf-gap-1) var(--wpifycf-gap-2);
    border-radius: 5px;
    border: 1px solid var(--wpifycf-border-color);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
  }

  &__tabs {
    display: flex;
    gap: var(--wpifycf-gap-1);
  }

  &__tab {
    appearance: none;
    border: none;
    background: none;
    padding: var(--wpifycf-gap-1) var(--wpifycf-gap-2);
    cursor: pointer;

    &.active {
      border: 1px solid var(--wpifycf-border-color);
      border-bottom: 0;
      background: #f6f7f7;
    }
  }

  &__raw-wrapper {
    position: relative;
  }

  &__raw {
    height: 100%;
    position: relative;
    overflow: auto;
    border: 1px solid var(--wpifycf-border-color);
    padding: var(--wpifycf-gap-1) var(--wpifycf-gap-2);
    box-sizing: border-box;
  }

  &__raw-edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
