.wpifycf-field-multi-direct-file {
  display: flex;
  flex-direction: column;
  gap: var(--wpifycf-gap-2);

  .wpifycf-button__add {
    margin-bottom: var(--wpifycf-gap-1);
    align-self: flex-start;
  }
}

.wpifycf-field-multi-direct-file__items {
  display: flex;
  flex-direction: column;
  gap: var(--wpifycf-gap-2);
  user-select: none;
}

.wpifycf-field-multi-direct-file__item {
  display: flex;
  align-items: flex-start;
  gap: var(--wpifycf-gap-2);
  cursor: move;

  &--uploading {
    cursor: default;
  }

  &__sort {
    flex-shrink: 0;
    cursor: move;
    display: flex;
    align-items: center;

    .wpifycf-sort {
      opacity: 0.6;
      transition: opacity 0.2s;
    }

    &:hover .wpifycf-sort {
      opacity: 1;
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: var(--wpifycf-gap-3);

    .wpifycf-direct-file__uploading {
      padding: 0;
      border-radius: var(--wpifycf-border-radius-md);
    }

    .wpifycf-direct-file__info {
      padding: 0;
      border-radius: var(--wpifycf-border-radius-md);
    }

    .wpifycf-direct-file__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--wpifycf-gap-2);
    }

    .wpifycf-direct-file__path {
      display: block;
    }

    .wpifycf-direct-file__size {
      display: block;
    }
  }

  &__actions {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;

    .wpifycf-icon-button {
      padding: 0;
      display: block;
    }

    .wpifycf-icon-button svg {
      margin-top: 0;
      display: block;
    }
  }
}
