.wpifycf-field-range {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--wpifycf-gap-1);
  line-height: 1;

  &__value {
    margin-left: var(--wpifycf-gap-1);
    border: 1px solid var(--wpifycf-border-color);
    background: white;
    font-weight: 500;
    padding: var(--wpifycf-gap-1) var(--wpifycf-gap-2);
    min-width: 100px;
    text-align: center;
  }
}
