.wpifycf-field-link {
  display: block;

  &__field-label {
    display: block;
  }

  &__field-value {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--wpifycf-gap-1);

    input[type="text"],
    input[type="url"],
    .wpifycf-select {
      width: 20em;
    }
  }

  &__field-option {
    display: block;
  }

  &__fields {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: var(--wpifycf-gap-1);
  }
}
