.wpifycf-gutenberg-block {
  &__placeholder {
    padding: var(--wpifycf-gap-5);
    border: 1px solid var(--wpifycf-border-color);

    code {
      padding: 0 var(--wpifycf-gap-1);
    }

    &--error {
      border-color: var(--wpifycf-red);
    }
  }
}
