.wpifycf-icon-button {
  appearance: none;
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  display: inline-block;

  &--dark {
    background: black;
    border-radius: 50%;

    svg {
      display: block;
      fill: white;
    }
  }

  &--light {
    svg {
      fill: black;
    }
  }

  &--trash {
    svg {
      fill: hsl(0, 100%, 73%);
    }

    &:hover svg {
      fill: red;
    }
  }

  &--plus, &--minus  {
    svg {
      border: 1px solid #2271b1;
      background: #f6f7f7;
      border-radius: 3px;

      &:hover{
        background: #f0f0f1;
        border-color: #0a4b78;
      }
    }
  }

  &--move {
    cursor: move;
  }
}
