.wpifycf-icon-button {
  appearance: none;
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  display: inline-block;

  &--dark {
    background: black;
    border-radius: 50%;

    svg {
      display: block;
      fill: white;
    }
  }

  &--light {
    svg {
      fill: black;
    }
  }

  &--trash {
    svg {
      fill: var(--wpifycf-red);
      opacity: 0.6;
    }

    &:hover svg {
      fill: var(--wpifycf-red);
      opacity: 1;
    }
  }

  &--plus, &--minus  {
    svg {
      border: 1px solid var(--wpifycf-blue);
      background: var(--wpifycf-grey);
      border-radius: var(--wpifycf-border-radius-sm);

      &:hover{
        background: var(--wpifycf-grey-hover);
        border-color: var(--wpifycf-blue-hover);
      }
    }
  }

  &--move {
    cursor: move;
  }
}
