.wpifycf-multi-field-items {
  display: flex;
  flex-flow: column;
  max-width: 60em;
  gap: var(--wpifycf-gap-1);
  user-select: none;
}

.wpifycf-multi-field-item {
  display: flex;
  border-bottom: 1px solid var(--wpifycf-border-color);
  padding-bottom: var(--wpifycf-gap-1);
}

.wpifycf-multi-field-item-field {
  max-width: 100%;

  &--textarea, &--text, &--url, &--direct_file {
    flex: 1;
  }

  &--mapycz {
    width: 600px;
  }
}
