:root {
  --wpifycf-gap-1: 5px;
  --wpifycf-gap-2: 10px;
  --wpifycf-gap-3: 20px;
  --wpifycf-border-color: #ddd;
  --wpifycf-grey: #f6f7f7;
  --wpifycf-grey-hover: #f0f0f1;
  --wpifycf-blue: #2271b1;
  --wpifycf-blue-hover: #0a4b78;
}
