@import url("~intl-tel-input/build/css/intlTelInput.min.css");

.wcf-select {
  display: inline-block;
  min-width: 350px;

  input {
	min-height: 0;
	padding: 0;
	border: 0;
	line-height: 1;
  }

  input:focus {
	box-shadow: none;
  }

  svg {
	margin: -4px;
  }
}

.wcf-multi-group,
.wcf-multi-group * {
  box-sizing: border-box;
}

.wcf-multi-group {
  &__buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin-top: 10px;
  }
}

.wcf-button {
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;

  svg {
	display: block;
  }

  &--move {
	cursor: move;
	margin-right: 10px;
  }

  &--delete {
	cursor: pointer;
	margin-left: auto;
  }

  &--icon {
	display: inline-block;
	min-height: 30px !important;
	max-height: 30px !important;
  }
}

.wcf-multi-group-row {
  background-color: white;
  border: 1px solid #c3c4c7;

  &:not(:first-of-type) {
	border-top: none;
  }

  &__header {
	background: white;
	border: 0;
	color: #2c3338;
	display: flex;
	font-weight: 400;
	margin: 0 !important;
	padding: 1em 1.5em;
	min-height: 46px;
	position: relative;
	text-align: left;
	align-items: center;
	justify-content: space-between;
	user-select: auto;
  }

  &__title {
	font-weight: bold;
	cursor: pointer;
  }

  &__content {
	margin: 0;
	padding: 1em 1.5em;
	background: white;
  }

  &__content--collapsed {
	height: 0;
	overflow: hidden;
	padding: 0;
  }

  &__content-item:not(:last-of-type) {
	margin-bottom: 10px;
  }

  &__content-item-label {
	margin-bottom: 5px;
	display: block;
  }
}

.iti__flag-container {
  z-index: 5;
}

.wcf-post-selected {
  &__item-header {
	display: flex;
	flex-flow: row nowrap;
  }

  &__item {
	background-color: white;
	padding: 10px 15px;
	margin: 5px 0;
	border: 1px solid #c3c4c7;

	p {
	  font-size: 12px;
	  line-height: 1.3;
	  max-height: 34px;
	  text-overflow: ellipsis;
	  overflow: hidden;
	}
  }
}

.wcf-sortable-ghost {
  background: rgba(255, 255, 255, 0.3);
  border: 1px dashed #c3c4c7;
}

.wcf-sortable-ghost * {
  visibility: hidden;
}

.wcf-sortable-drag {
  border: 1px solid #c3c4c7;
}

.wcf-sortable-drag .wcf-button--move {
  cursor: grab;
}

.wcf-attachment {
  display: inline-flex;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 350px;

  &__image {
	margin-right: 20px;
  }

  &__image img {
	display: block;
  }

  .wcf-button--move,
  .wcf-button--delete {
	align-self: flex-start;
  }
}

.wcf-error {
  border: 1px solid #DC3232;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #DC3232;
  border-radius: 3px;
}

.wcf-block {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 15px;
  position: relative;
  border-radius: 3px;

  &__title {
	position: absolute;
	top: -17px;
	left: 15px;
	height: 34px;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 0 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	z-index: 2;
  }

  .form-field label {
	display: block;
  }
}

.wcf-block-toolbar-button {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
	margin-right: 5px !important;
  }
}

.wcf-toggle-disabled {
  pointer-events: none;

  .components-form-toggle {
	opacity: 0.25;
  }

  a,
  button {
	pointer-events: auto;
  }
}
