@import url("~intl-tel-input/build/css/intlTelInput.min.css");

:root {
	--wpify-theme: var(--wp-admin-theme-color);
	--wpify-input-border: #8c8f94;
	--wpify-input-bg: #f6f7f7;
	--wpify-black: #1d2327;
}

/* Components */
@import 'styles/**/*.scss';

