:root {
  --wpifycf-gap-1: 10px;
}


.wpifycf-multi-field-items {
  display: flex;
  flex-flow: column;
  gap: var(--wpifycf-gap-1);
}

.wpifycf-multi-field-item {
  display: flex;
}

.wpifycf-field-description {
  &--after {
    margin-top: var(--wpifycf-gap-1);
  }

  &--before {
    margin-bottom: var(--wpifycf-gap-1);
  }
}

.wpifycf-field-attachment {
  display: block;

  &__button {
    display: block;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
  }
}

.wpifycf-field-multi-attachment {
  display: block;

  &__items {
    display: flex;
    flex-flow: row wrap;
    gap: var(--wpifycf-gap-1);
  }

  &__button {
    display: block;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
  }

  .wpifycf-button__add {
    margin-bottom: var(--wpifycf-gap-1);
  }
}

.wpifycf-attachment-item {
  display: block;
  width: 150px;
  height: 150px;
  position: relative;

  &__thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  &__icon {
    width: 150px;
    height: 125px;
    display: grid;
    place-items: center;
    border: 1px solid #ddd;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    height: 25px;
    display: grid;
    place-items: center;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: var(--wpifycf-gap-1);
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(255, 255, 255, 0.25);
  }

  &:hover &__actions {
    opacity: 1;
  }

  &__info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.wpifycf-field-multi-checkbox {
  display: flex;
  flex-flow: column;
  gap: var(--wpifycf-gap-1);

  &__checkbox[type=checkbox] {
    margin: 0;
  }

  &__item {
    display: flex;
    flex-flow: row wrap;
    gap: var(--wpifycf-gap-1);
    line-height: 1;
  }
}

.wpifycf-field .sortable-ghost {
  background: rgba(0, 0, 0, 0.1);
  border: 1px dashed #B4B4B4;

  * {
    opacity: 0;
  }
}

.wpifycf-icon-button {
  appearance: none;
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;

  &--dark {
    color: white;
    background: black;
    border-radius: 50%;
  }

  &--light {
    color: black;
  }
}
