:root {
  --wpifycf-gap-1: 5px;
  --wpifycf-gap-2: 10px;
  --wpifycf-border-color: #ddd;
}

@import "components/field";
@import "components/attachment-field";
@import "components/multi-field";
@import "components/checkbox-field";
@import "components/icon-button";
@import "components/multi-group-field";
@import "components/group-field";
@import "components/link-field";
@import "components/select";
