.wcf-link {
	display: inline-flex;
	align-items: center;
	background-color: var(--wpify-input-bg);
  border: 1px solid var(--wpify-input-border);
  padding: 15px 60px 15px 15px;
  width: 250px;
  position: relative;
	border-radius: 3px;

	&__form {
		display: flex;
		flex-flow: column;
		gap: 0.25rem;
		border: 1px solid #c3c4c7;
		padding: 0.5rem 1rem;
		background: white;

		span:not(.wcf-select__indicator-separator) {
			min-width: 5em;
		}

		input[type=checkbox] {
			margin: 0 0.5rem 0 5.5em;
		}
	}

	&__form-item {
		display: flex;
		align-items: center;
		line-height: 1.5;
	}

	&__view {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: flex-start;
		gap: 0.25rem;
		cursor: pointer;
		text-decoration: underline;

		&--empty {
			text-decoration: none;
		}
	}

	&__url {
		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	}

	&__toggle-button {
		display: none;
	}

	.dashicon {
		padding-left: 0;
		margin-left: 0;
		min-width: unset;
		font-size: 14px;
		text-decoration: none;
	}
}
