.wcf-metabox-row {
  margin-bottom: 1rem;

	* {
		box-sizing: border-box;
	}

	input {
		max-width: 100%;
	}

	.wcf-post-selected__item {
		width: unset;
	}

	.wcf-multi-group-row__content-in {
		padding: 10px;
	}

	.wcf-multi-group-row__content-in .wcf-multi-group-row__content-item {
		flex-direction: column;
	}

	.wcf-sortable-item .wcf-multi-group-row {
		width: unset;
		min-width: unset;
	}

	.wcf-attachment {
		flex-flow: column;
		width: unset;
		align-items: flex-start;
	}

	.wcf-attachment__image {
		margin-right: 0;
		margin-bottom: 10px;
	}
}
