.wcf-multi-group {
  &__items {
		position: relative;
  }
}

.wcf-multi-group-row__buttons {
	display: flex;
	gap: 5px;
}

.wcf-multi-group__buttons {
	margin-top: 10px;
}

.wcf-multi-group-row {
  background-color: var(--wpify-input-bg);
  border: 1px solid var(--wpify-input-border);

  &__header {
		background-color: var(--wpify-input-bg);
		border: 0;
		color: #2c3338;
		display: flex;
		font-weight: 400;
		margin: 0 !important;
		padding: 15px 10px;
		min-height: 46px;
		position: relative;
		text-align: left;
		align-items: center;
		justify-content: space-between;
		user-select: none;
  }

  &__title {
		font-weight: bold;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.2;
		padding: 0;
		transition: .3s ease color;

		&:hover {
			color: var(--wpify-theme);
		}
  }

  &__content {
		margin: 0;
		padding: 1em 1.5em;
		background: white;
  }

  &__content--collapsed {
		height: 0;
		overflow: hidden;
		padding: 0;
  }

  &__content-item:not(:last-of-type) {
		margin-bottom: 10px;
  }

  &__content-item-label {
		margin-bottom: 5px;
		display: block;
  }
}
