.wcf-wysiwyg-field {
  background-color: white;
}

.wcf-tinymce-wrapper {
	min-width: 50%;

	.mce-panel, .mce-abs-layout-item, .mce-container-body {
		width: 100% !important;
		min-height: 40px !important;
		height: min-content !important;
	}
}
