.wfc-block-field {
	margin-bottom: 20px;
	display: flex;

	&:last-child {
		margin-bottom: 0;
	}

	&--hidden {
		display: none;
	}

	label {
		flex-shrink: 0;
		width: 180px;
		font-weight: bold;
		margin: 0 0 10px !important;
		padding-top: 3px;
		font-size: 14px;
	}

	.wcf-select .wcf-select__control {
		border: 1px solid #8c8f94;
		color: #2c3338;
		border-radius: 4px;
		padding: 5px 10px;
		max-width: 425px;

		.wcf-select__clear-indicator {
			color: #2c3338;

			&:hover {
				color: red;
			}
		}

		.wcf-select__dropdown-indicator {
			color: #2c3338;
		}
	}

	.regular-text {
		padding: 5px 10px;
	}

	&.wfc-block-field--post, &.wfc-block-field--multi_post {
		flex-wrap: wrap;

		.wcf-select {
			width: calc(100% - 180px);
		}

		.wcf-post-selected {
			margin-top: 10px;
		}
	}

	&.wfc-block-field--inner_blocks {
		.block-editor-block-list__layout > div > div > p {
			padding-right: 40px;
		}
	}

	&.wfc-block-field--toggle {
		label {
			position: relative;
			bottom: 4px;
		}
	}

	&.wfc-block-field--multi_group {
		max-width: 720px;
	}

	&.wfc-block-field--group {
		display: block;

		> label {
			color: #1d2327;
			font-size: 18px;
			margin: 20px 0 5px;
		}

		> div {
			border: 1px solid #ccc;
			padding: 20px;
			border-radius: 2px;
		}

		.wfc-block-field label {
			width: 158px;
		}
	}
}
